body {
    background-image:url(image/WhatsApp\ Image\ 2024-12-01\ at\ 02.43.22_1219e5b6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.img1:hover {
    transform: scale(1.05);
    transition: .5s;
}

.img1 {
    text-align: center;
    font-size: 80px;
    background-image: url('image/WhatsApp\ Image\ 2024-11-30\ at\ 16.52.55_7df1f8ca.jpg');
    background-position: center;
    color: aliceblue;
    border: 20px solid aliceblue;
    font-family: garamond;
    background-size: cover;
}

.box1 {
    width: 85%;
    
    border-radius: 10px;
    margin: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    color: aliceblue;
    background-color: #154360;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    border: 20px solid #a04000;
}
.box1:hover {
    transform: scale(1.05);
    transition: .5s;
}
.box2 {
    box-shadow: 10px 10px 10px 30px;
    width: 35%;
    border: 20px solid #154360;
    border-radius: 10px;
    margin: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    color: aliceblue;
    background-color: #a04000;
    background-size: cover;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
text-align: centers;
    
}
.box2:hover {
    transform: scale(1.05);
    transition: .5s;
}



.box3{
    box-shadow: 10px 10px 10px 30px;
    width: 50%;
    border: 20px solid #154360;
    border-radius: 10px;
    margin: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    color: aliceblue;
    background-color: #a04000;
    background-size: cover;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
text-align: centers;
}
.boximg{
    height: 600px;
    overflow: hidden;
    margin-bottom: 30PX;
    border-radius: 10px;

}
.boximg:hover{
    transform: scale(1.05);
        transition: .5s;
}
    .btn{
        background-image: linear-gradient(90deg,#f1c40f , #fef9e7);
        padding: 10px 20px;
        border-radius: 30px;
    }
    .btn:hover{
        background-image: linear-gradient(90deg,#fef9e7,#f1c40f);
    }
    .table tr th, tr td{
        border: 5px solid #aed6f1;
        padding: 10px;
        
        
    }
table{
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    
}
.table:hover{
    transform: scale(1.05);
        transition: .5s;
}
        
